.AnswerItem {
  padding: 10px 15px;
  border-bottom: 1px solid #258dc8;  
  cursor: pointer;
  transition: background-color .4s ease;
  font-weight: 500;
}

.AnswerItem:last-child {
  border-bottom: none;
}

.AnswerItem:hover {
  background-color: rgba(22, 75, 105, .2);
  transition: all .5s ease;
}

.AnswerItem.success {
  background: green;
}

.AnswerItem.error {
  background: red;
}
