.MenuToggle {
  position: fixed;
  top: 16px;
  left: 40px;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  /* color: #196a98; */
  transition: opacity, left .25s ease-in;
  z-index: 100;
}

.MenuToggle:hover {
  opacity: .7;
}

.MenuToggle.open {
  left: 320px;
}